*{
  text-decoration: none;
}
.App {
    background-color: #EC6A16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Jura', sans-serif;
  }
  
  .user-form {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #EC6A16;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .input-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .input-group label {
    color: #EC6A16;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    display: block;
  }
  
  input {
    width: calc(100% - 10px);
    height: 44px;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
  }
  
  select {
    width: calc(100% - 10px);
    height: 44px;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    appearance: none; /* Remove default dropdown arrow */
    cursor: pointer;
  }
  
  select:focus {
    outline: none; /* Remove default focus outline */
  }
  
  select::-ms-expand {
    display: none; /* Remove default IE10 arrow */
  }
  
  select::-webkit-scrollbar {
    width: 0 !important; /* Hide scrollbar on Chrome, Safari, Edge */
  }
  
  button {
    width: 150px;
    height: 40px;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background-color: #EC6A16; /* Cor do botão #EC6A16 */
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  